<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinição de Senha</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="container bg-gray-100 font-sans">
    <div class="max-w-lg mx-auto mt-10 bg-White rounded-lg shadow-md">
        <div class="p-6 text-center">
            <img src="" alt="" class="w-20 h-20 mx-auto">
            <h2 class="text-xl font-semibold text-gray-700 mt 4">
                Redefinição de senha
            </h2>
            <p class="text-gray-600 mt-2">
                Ola <strong>{{ user }}</strong>!
                <br>
                Recebemos uma solicitação para redefinir a senha da sua conta de usuário {{ username }} no Code Assistant. Se foi você, clique no botão abaixo para continuar:
            </p>
            <a href="{{ reset_link }}" class="inline-block mt-4 px-6 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">
                Redefinir Senha
            </a>
            <br>
            <p class="text-sm text-gray-500 mt-4">
                Caso não tenha solicitado esta alteração, ignore este e-mail. Sua senha permanecerá segura.
            </p>
            <hr class="my-4">
            <p class="text-xs text-gray-400">
                TR Solutions 2024©
            </p>
        </div>
    </div>
</body>
</html>