<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Senha Alterada</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="container bg-gray-100 font-sans">
    <div class="max-w-lg mx-auto mt-10 bg-White rounded-lg shadow-md">
        <div class="p-6 text-center">
            <img src="" alt="" class="w-20 h-20 mx-auto">
            <h2 class="text-xl font-semibold text-gray-700 mt 4">
                Senha Alterada!
            </h2>
            <p class="text-gray-600 mt-2">
                Olá <strong>{{ user }}</strong>!
                <br>
                Informamos que sua senha foi alterada com sucesso em <strong>{{ timestamp }}</strong>!
            </p>
            <p class="text-gray-600 mt-4">
                Caso não tenha feito esssa alteração, entre em contato conosco imediatamente
            </p>
            <a href="https://api.whatsapp.com/send?phone=5588992540904" class="inline-block mt-4 px-6 py-2 bg-red-500 text-white rounded hover:bg-red-600">
                Entrar em contato
            </a>

            <hr class="my-4">
            <p class="text-xs text-gray-400">
                TR Solutions 2024©
            </p>
        </div>
    </div>
</body>
</html>