<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compra de Curso por Link de Afiliado</title>
</head>
<body>
    <div class="container">
        <p>
            <h3>Houve em {{ date_message }} o evento {{ event }} do seu sistema com sucesso</h3>
        </p>
        <hr>
        <p> Olá <strong>Thércio!</strong> Um evento {{ event }} foi realizado com sucesso</p>
        <br>
        
        <div>
            <h5>Dados do evento</h5>
            <p>Nome: {{ name }}</p>
            <p>email: {{ client_email }}</p>
            <p>Contato: {{ client_phone }}</p>
            <p>Setor: {{ sector }}</p>
            <hr>
        <br>
        <p>Para maiores informações, acesse seu sistema.</p>
        <hr>
        <p>Atenciosamente,</p>
        <h3>TR Solutions 2024©</h3>

    </div>
</body>
</html>